@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.card .educ-timeline {
    height:470px;
}

.educ-timeline ul {
  list-style: none;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px 100px;
}
.educ-timeline ul:before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 2px;
  left: 102px;
  border-left: 2px dashed #fff;
  
}
.educ-timeline ul li {
  position: relative;
  margin-left: 30px ;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width:50vw;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}
.educ-timeline ul li:not(:first-child) {
  margin-top: 60px;
}
.educ-timeline ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -28px;
  top: 0;
  position: absolute;
}
.educ-timeline ul li > span:before, .educ-timeline ul li > span:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #C92C5B;
  left: -5px;
  top: 0;
}
.educ-timeline ul li span:after {
  top: 100%;
}
.educ-timeline ul li > div {
  margin-left: 10px;  
}
.educ-timeline div .title, .educ-timeline div .type {
  font-weight: 600;
}
.educ-timeline div .info {
  font-weight: 300;
}
.educ-timeline div > div {
  margin-top: 5px;
}
.educ-timeline span.number {
  height: 100%;
}
.educ-timeline span.number span {
  position: absolute;
  font-size: 13px;
  left: -55px;
  font-weight: bold;
}
.educ-timeline span.number span:first-child {
  top: -5px;
}
.educ-timeline span.number span:last-child {
  top: 95%;
}

.educ-timeline span.number {
  text-align: center;
}