
/* Timeline Container */
.exp-timeline {
margin: 20px 5%;
padding: 20px;
width:40%;
}

/* Card container */
.timeline-card {
position: relative;
max-width: 400px;
}

/* setting padding based on even or odd */
.timeline-card.odd {
padding: 30px 0 30px 30px;
}
.timeline-card.even {
padding: 30px 30px 30px 0;
}
/* Global ::before */
.timeline-card::before {
content: "";
position: absolute;
width: 80%;
border: solid #C92C5B;
}

.timeline-card .info .exp-title::before {
    top:25px;
}

/* Setting the border of top, bottom, left */
.timeline-card.odd::before {
left: 0px;
top: -4.5px;
bottom: -4.5px;
border-width: 5px 0 5px 5px;
border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.timeline-card.even::before {
right: -52%;
top: -1px;
bottom: 0;
border-width: 5px 5px 5px 0;
border-radius: 0 50px 50px 0;
}

/* Information about the timeline */
.exp-timeline .info {
display: flex;
flex-direction: column;
border: 2px solid #C92C5B;
border-radius: 10px;
padding: 10px;
width:150%;
}

/* Title of the card */
.exp-title {
color: #66BCE1;
position: relative;
}

/* Timeline dot  */
.exp-title::before {
content: "";
position: absolute;
width: 10px;
height: 10px;
background: white;
border-radius: 999px;
border: 3px solid #C92C5B;
}

/* setting dot to the left if the card is odd */
.timeline-card.odd .info .exp-title::before {
left: -47px;
}

/* setting dot to the right if the card is odd */
.timeline-card.even > .info > .exp-title::before {
right: -47px;
}

.date {
    text-align:center;
    margin:0px;
}

.exp-title {
    margin:0px;
}

.exp-timeline svg {
    padding-top:2px;
}

.exp-timeline .infos {
    display:grid;
    grid-template:auto auto/20px 40fr;
    margin-top: 5px;
}

.infos p {
    margin:0px;
}