
/* Timeline Container */
.exp-timeline {
margin: 20px 0 20px 3vw;
padding: 20px 0px;
width:60%;
}

/* Card container */
.timeline-card {
position: relative;
}

/* setting padding based on even or odd */
.timeline-card.odd {
padding: 30px 0 30px 30px;
}
.timeline-card.even {
padding: 30px 30px 30px 0;
}
/* Global ::before */
.timeline-card::before {
    content: "";
    position: absolute;
    width: 73vw;
    border: solid #C92C5B;
}

.timeline-card .info .exp-title::before {
    top:25px;
}

/* Setting the border of top, bottom, left */
.timeline-card.odd::before {
left: 0px;
top: -4.5px;
bottom: -4.5px;
border-width: 5px 0 5px 5px;
border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.timeline-card.even::before {
right: -60%;
top: 0px;
bottom: 0;
border-width: 5px 5px 5px 0;
border-radius: 0 50px 50px 0;
}

/* Information about the timeline */
.exp-timeline .info {
display: flex;
flex-direction: column;
border: 2px solid #C92C5B;
border-radius: 10px;
padding: 10px;
width:70vw;
}

/* Title of the card */
.exp-title {
color: #66BCE1;
position: relative;
}

.date {
    text-align:center;
    margin:0px;
}

.exp-title {
    margin:0px;
}

.exp-timeline svg {
    padding-top:2px;
}

.exp-timeline .infos {
    display:grid;
    grid-template:auto auto/20px 40fr;
    margin-top: 5px;
}

.infos p {
    margin:0px;
}