@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 8px #767575;
    text-decoration: underline;
    margin-bottom: 20px;
  }

h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 8px #767575;
    text-decoration: dashed underline;
    text-underline-offset: 5px;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 600;
  }

header {
    margin-bottom: 20px;
    color:#66BCE1;
    font-family: Quattrocento, serif;
}